@model List<YummyProject.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"></li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Total Soup Count</div>
            <span class="card-body display-6"><strong>@ViewBag.soupCount</strong> </span>
            <div class="card-footer d-flex align-items-center justify-content-between">

                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">The Most Expensive Product</div>
            <span class="card-body display-6"><strong>@ViewBag.mostExpensive</strong> </span>
            <div class="card-footer d-flex align-items-center justify-content-between">

                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Average Product Price</div>
            <span class="card-body display-6"><strong>@ViewBag.avgPrice.ToString("00.00") ₺</strong> </span>
            <div class="card-footer d-flex align-items-center justify-content-between">

                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Teh Cheapest Product</div>
            <span class="card-body display-6"><strong>@ViewBag.cheapestPrice </strong> </span>
            <div class="card-footer d-flex align-items-center justify-content-between">

                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-secondary text-white mb-4">
            <div class="card-body">Total Product Count</div>
            <span class="card-body display-6"><strong>@ViewBag.totalCategoriesCount </strong> </span>
            <div class="card-footer d-flex align-items-center justify-content-between">

                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-info text-white mb-4">
            <div class="card-body">Total Categories Count</div>
            <span class="card-body display-6"><strong>@ViewBag.totalCategoriesCount </strong> </span>
            <div class="card-footer d-flex align-items-center justify-content-between">

                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Total Events Count</div>
            <span class="card-body display-6"><strong>@ViewBag.totalEventsCount </strong> </span>
            <div class="card-footer d-flex align-items-center justify-content-between">

                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-dark text-white mb-4">
            <div class="card-body">Total Chef Count</div>
            <span class="card-body display-6"><strong>@ViewBag.totalChefCount </strong> </span>
            <div class="card-footer d-flex align-items-center justify-content-between">

                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Last Products
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>İngredients</th>
                    <th>Price</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>

                    <td><img src="@item.ImageUrl" style="width:50px;height:50px;" /></td>
                    <th>@item.ProductName</th>>
                    <th>@item.Category.CategoryName</th>
                    <th>@item.Ingredients</th>
                    <th>@item.Price</th>
                </tr>
            }

        </table>
    </div>
</div>