@model List<YummyProject.Models.ChefSocial>
@{
    ViewBag.Title = "Delete Chef Social Area";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Delete Chef Social Media</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Chef Name</th>
            <th>Social Media Name</th>
            <th>Url</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var social in Model)
        {
            <tr>
                <td>@social.ChefSocialId</td>
                <td>@social.Chef.Name</td> <!-- Şefin adı burada gösterilecek -->
                <td>@social.SocialMediaName</td>
                <td>@social.Url</td>
               
                <td>
                    <form action="@Url.Action("DeleteSocialMedia", "Chef")" method="post">
                        <input type="hidden" name="id" value="@social.ChefSocialId" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
