@model YummyProject.Models.Booking
@{
    ViewBag.Title = "AddBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>AddBooking</h2>




<br />
<h2>Reservation Addition Page</h2>
<br />

<form method="post" class="form-control">

    <label><strong>Name</strong></label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label><strong>Email</strong></label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />
    <label><strong>Phone</strong></label>
    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />
    <label><strong>Reservation Date</strong></label>
    @Html.TextBoxFor(x => x.BookingDate, new { @class = "form-control", type = "date" })
    <br />
    <label><strong>Reservation Time</strong></label>
    @Html.TextBoxFor(x => x.BookingHour, new { @class = "form-control", type = "time" })
    <br />


    <label><strong>Person Count</strong></label>
    <select name="PersonCount" class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option disabled>If you would like to make a reservation for more people, please contact us.</option>
    </select>
    <br />
    <label><strong>Message</strong></label>
    @Html.TextAreaFor(x => x.MessageContent, 3, 1, new { @class = "form-control" })
    <br />
    <label><strong>Approval Status</strong></label>
    @Html.DropDownListFor(x => x.IsApproved, new SelectList(new[] { new { Value = true, Text = "Approved" }, new { Value = false, Text = "Not Approved" } }, "Value", "Text"), new { @class = "form-control" })
    <br />

    <div class="text-center">
        <button class="btn btn-warning">Submit</button>
    </div>
    <br />

</form>


