@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">

@Html.Action("AdminLayoutHead", "AdminLayout")

<body class="sb-nav-fixed">
    @Html.Action("AdminLayoutNavbar", "AdminLayout")
    <div id="layoutSidenav">
        @Html.Action("AdminLayoutSidebar", "AdminLayout")
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <div class="partial-container">
                        @RenderBody()
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @Html.Action("AdminLayoutScripts", "AdminLayout")

</body>
</html>
